# Ignore Python virtual environments
venv/
env/
.venv/
.env/
.env


# Ignore log files
logs/
scripts/*.log
*.bak

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore configuration files if they contain sensitive information
config/config.json

test.py